

body {
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: 'Roboto', sans-serif;
}
a, p, h1, h2, h3, h4, h5, h6 {
	margin: 0;
    text-decoration: none;
    line-height: 1.2;
}
button:focus,
textarea:focus,
select:focus{
	outline: none!important;
	-webkit-appearance:none;
	box-shadow: none;
}
input:focus{
	outline: none!important;
}
a:active {
	border: none;
}
a:active,
a:focus {
  outline: 0;
  outline: none!important;
  -moz-outline-style: none;
}
a, img, button, input {
	transition: .3s all ease;
}
a {
	display: inline-block;
	text-decoration: none;
}
button {
	cursor: pointer;
}


.wrapper {
	overflow: hidden;
}
.owl-drag {
    overflow: hidden;
}
.owl-item {
    float: left;
}
.owl-dots {
    display: none;
}


































































































.mob {display: none;}







@media only screen and (max-width: 768px){
	.pc {display: none;}
	.mob {display: block;}
	/* mob menu */
	
}


