@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: 'Roboto', sans-serif;
}
a, p, h1, h2, h3, h4, h5, h6 {
	margin: 0;
    text-decoration: none;
    line-height: 1.2;
}
button:focus,
textarea:focus,
select:focus{
	outline: none!important;
	-webkit-appearance:none;
	box-shadow: none;
}
input:focus{
	outline: none!important;
}
a:active {
	border: none;
}
a:active,
a:focus {
  outline: 0;
  outline: none!important;
  -moz-outline-style: none;
}
a, img, button, input {
	transition: .3s all ease;
}
a {
	display: inline-block;
	text-decoration: none;
}
button {
	cursor: pointer;
}


.wrapper {
	overflow: hidden;
}
.owl-drag {
    overflow: hidden;
}
.owl-item {
    float: left;
}
.owl-dots {
    display: none;
}

/* font-family: 'Corbel'; */

h1,h2,h3,h4,h5,h6 {
	font-family: 'Corbel';
	font-feature-settings: 'pnum' on, 'lnum' on;
	color: #1C8396;
}
h1 {
	font-weight: 700;
	font-size: 64px;
	line-height: 110%;
}
h2 {
	font-size: 48px;
	line-height: 130%;
	margin-bottom: 20px;
}
h3 {
	font-size: 36px;
	line-height: 110%;
}
h4 {
	font-size: 24px;
	line-height: 110%;
}
h5 {
	font-size: 20px;
	line-height: 110%;
}
.white {
	color: #fff;
}
.black {
	color: #3C4548;
}

.yellow-btn {
	background: #F3B429;
	border-radius: 5px;
	font-family: 'Corbel';
	color: #3C4548;
}
.yellow-btn:hover {
	background: #FFC33F;
	color: inherit;
}
.yellow-btn:active,
.yellow-btn.active {
	background: #FFD373;
	color: inherit;
}

.blue-btn {
	font-family: 'Corbel';
	font-feature-settings: 'pnum' on, 'lnum' on;
	color: #3C4548;
	border: 1px solid #3C4548;
	border-radius: 5px;
}
.blue-btn:hover {
	background: #1C8396;
	color: #fff;
	border-color: #1C8396;
}
.blue-btn.active,
.blue-btn:active {
	background: #0BA0BC;
	color: #fff;
	border-color: #1C8396;
}
/* /////////////////// */

header .navbar-brand {
	padding: 0;
	margin-right: 60px;
}
header {
	padding-top: 40px;
	position: relative;
	font-family: 'Corbel';
	font-feature-settings: 'pnum' on, 'lnum' on;
}
header.nomer {
	background-image: url('../images/nomer-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 150px;
}
header.nomer::after {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #3C4548;
	mix-blend-mode: hard-light;
	opacity: 0.5;
}
header.nomer .container {
	position: relative;
	z-index: 2;
}
header .navbar {
	padding: 0;
}
.navbar-expand-lg .navbar-collapse {
	justify-content: space-between;
}
header .navbar .nav-item .nav-link {
	font-size: 16px;
	line-height: 100%;
	color: #3C4548;
	padding: 0;
}
header .navbar .nav-item .nav-link:hover {
	color: #056f93;
}
header .navbar .nav-item {
	margin-right: 20px;
}
header .navbar .nav-item:last-child {
	margin-right: 0;
}
header .navbar.white-text .nav-item .nav-link {
	color: #FFFFFF;
}

header .navbar .nav-contact .nav-socials,
header .navbar .nav-contact {
	display: flex;
	align-items: center;
}
header .navbar .nav-contact .nav-tel {
	font-size: 16px;
	line-height: 120%;
	display: flex;
	align-items: center;
	margin-right: 10px;
	color: #3C4548;
	font-feature-settings: 'pnum' on, 'lnum' on;
}
header .navbar.white-text .nav-contact .nav-tel {
	color: #fff;
}
header .navbar .nav-contact .nav-tel img {
	margin-right: 7px;
}
header .navbar .nav-contact .nav-socials a {
	margin-right: 10px;
}
header .navbar .nav-contact .nav-price {
	font-size: 16px;
	line-height: 100%;
	border-radius: 5px;
	padding: 10px 15px;
	color: #3C4548;
}
header .navbar.white-text .nav-contact .nav-price {
	border: 1px solid #FFFFFF;
	color: #fff;
}
header .navbar .nav-contact .nav-price:hover {
	border-color: #1C8396;
	color: #fff;
}
header .navbar .nav-contact .nav-price.active,
header .navbar .nav-contact .nav-price:active {
	color: #fff;
	border-color: #0BA0BC;
	color: #fff;
}


header .header-text {
	padding-top: 115px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
header .header-text h1 {
	margin-bottom: 18px;
}
header .header-text h2 {
	margin-bottom: 48px;
}
header .header-text a {
	padding: 20px 63px;
	font-family: 'Corbel';
	font-size: 16px;
	line-height: 100%;
}
/* header index */
header.index {
	background-image: url('../images/index-bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	padding-bottom: 286px;
}
header.index::after {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 58.06%);
}
header.index::before {
	content: "";
	display: block;
	position: absolute;
	left: -152px;
	top: -90px;
	width: 100%;
	height: 100%;
	background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.83) 28.78%, rgba(255, 255, 255, 0) 100%);
}
header.index .container {
	position: relative;
	z-index: 2;
}
header .index-text {
	margin-top: 80px;
}
header .index-text .big-text {
	font-family: 'Corbel';
	font-weight: 700;
	font-size: 180px;
	line-height: 217px;
	text-transform: uppercase;
	color: #1C8396;
	opacity: 0.15;
}
header .index-text h3 {
	margin-bottom: 54px;
}
header .index-text a {
	padding: 22px 56px;
	font-size: 16px;
	line-height: 100%;
}
/* index page */
.sale-sec {
	padding-top: 80px;
}
.sale-sec h2 {
	margin-bottom: 25px;
}
.sale-sec .sale-left .left-img img {
	width: 100%;
	object-fit: cover;
	border-radius: 6px;
}
.sale-sec .sale-left .left-text {
	margin-top: 25px;
}
.sale-sec .sale-left .left-text h4 {
	margin-bottom: 10px;
}
.sale-sec .sale-slide-content span {
	display: block;
	font-size: 14px;
	line-height: 150%;
	letter-spacing: 0.02em;
	font-feature-settings: 'pnum' on, 'lnum' on;
	color: #3C4548;
	font-stretch: 100;
}
.sale-sec .sale-right {
	padding-left: 55px;
	padding-right: 110px;
}
.sale-sec .sale-right .right-item {
	margin-bottom: 20px;
}
.sale-sec .sale-right .right-item h4 {
	margin-bottom: 6px;
}

.sale-sec .sale-slide-content{
	position: relative;
}
.sale-sec .sale-slide-content .owl-nav {
	display: flex;
	align-items: center;
	position: absolute;
	left: 170px;
    top: -70px;
	z-index: 2;
}
.sale-sec .sale-slide-content .owl-nav button {
	background: transparent;
	padding: 0;
	border: none;
}
.sale-sec .sale-slide-content .owl-nav .owl-next {
	margin-left: 20px;
}
/* ///// */
.number-fond {
	padding-top: 100px;
}
.number-fond .fond-img {
	padding-left: 0;
	padding-right: 0;
}
.number-fond .fond-img img {
	height: 800px;
	width: 100%;
	object-fit: cover;
}

.fond-block {
	border-radius: 10px;
	background: #fff;
	position: relative;
	z-index: 2;
	padding: 40px 65px;
	margin-top: -280px;
}
.fond-block p {
	margin-bottom: 15px;
}
.fond-block ul {
	padding-left: 20px;
}
.fond-block p,
.fond-block ul li {
	font-size: 14px;
	line-height: 150%;
	letter-spacing: 0.02em;
	font-feature-settings: 'pnum' on, 'lnum' on;
	color: #3C4548;
	font-stretch: 100;
}
.fond-btn {
	text-align: center;
}
.fond-btn a {
	font-size: 16px;
	line-height: 100%;
	padding: 20px 120px;
}
.fond-slide .owl-nav {
	display: flex;
	align-items: center;
	position: absolute;
	left: 430px;
    top: 58px;
	z-index: 2;
}
.fond-slide .owl-nav button {
	background: transparent;
	padding: 0;
	border: none;
}
.fond-slide .owl-nav .owl-next {
	margin-left: 20px;
}
/* ///////////// */

.healing-sec {
	padding-top: 110px;
}
.healing-sec .title {
	margin-bottom: 55px;
}
.healing-sec .title h2 {
	margin-bottom: 8px;
}
.healing-sec .title p {
	font-size: 14px;
	line-height: 150%;
	letter-spacing: 0.02em;
	font-feature-settings: 'pnum' on, 'lnum' on;
	color: #3C4548;
	font-stretch: 100;
}

.healing-block {
	display: block;
	margin-bottom: 40px;
}
.healing-block span {
	display: block;
}
.healing-block .healing-img {
	overflow: hidden;
	border-radius: 6px;
}
.healing-block .healing-img img {
	width: 100%;
	height: 200px;
	border-radius: 6px;
	transition: .2s;
}
.healing-block:hover .healing-img img {
	transform: scale(1.05);
}
.healing-block h4 {
	margin-top: 18px;
	transition: .3s all ease;
}
.healing-block:hover h4 {
	color: #F3B429;
}
/* //////////////// */
.rest-sec {
	padding-top: 60px;
}
.rest-sec .title h2 {
	margin-bottom: 30px;
}
.rest-sec .rest-block span {
	display: block;
}
.rest-sec .rest-block {
	display: block;
	position: relative;
	border-radius: 6px;
	overflow: hidden;
}
.rest-sec .rest-block .rest-img {
	position: relative;
	overflow: hidden;
	transition: .3s all ease;
}
.rest-sec .rest-block .rest-img::after {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
	transition: .5s all ease;
}
.rest-sec .rest-block .rest-img img {
	border-radius: 6px;
	width: 100%;
	transition: .5s all ease;
}
.rest-sec .rest-block:hover .rest-img::after {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
	transition: .5s all ease;
}
.rest-sec .rest-block:hover .rest-img img {
	transform: scale(1.05);
	transition: .5s all ease;
}
.rest-sec .rest-block .rest-text {
	position: absolute;
	left: 30px;
	bottom: 30px;
	max-width: 440px;
}
.rest-sec .rest-block .rest-text span.tour {
	font-family: 'Corbel';
	font-size: 12px;
	line-height: 130%;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	font-feature-settings: 'pnum' on, 'lnum' on;
	color: #FFFFFF;
}
.rest-sec .rest-block .rest-text h5 {
	font-weight: 700;
	line-height: 130%;
	font-feature-settings: 'pnum' on, 'lnum' on;
	margin: 7px 0 14px;
}
.rest-sec .rest-block .rest-text span.more {
	display: flex;
	align-items: center;
	font-family: 'Corbel';
	font-weight: 700;
	font-size: 14px;
	line-height: 100%;
	color: #FFFFFF;
}
.rest-sec .rest-block .rest-text span.more img {
	margin-left: 5px;
}
.rest-sec .rest-block:hover .rest-text span.more img {
	margin-left: 15px;
}
.rest-sec .rest-two .rest-block {
	margin-bottom: 26px;
}
.rest-sec .rest-two .rest-block:last-child {
	margin-bottom: 0;
}
.rest-sec .rest-four,
.rest-sec .rest-five,
.rest-sec .rest-six {
	margin-top: 30px;
}
/* ///////////// */
.sanatorium-sec {
	padding-top: 100px;
}
.sanatorium-sec .sanatorium-content {
	padding: 45px 65px 25px;
	background: #FFFFFF;
	border-radius: 10px;
	margin-top: -250px;
	position: relative;
	z-index: 2;
}
.sanatorium-sec .sanatorium-img {
	padding-left: 0;
	padding-right: 0;
}
.sanatorium-sec .sanatorium-img img {
	height: 800px;
	width: 100%;
	object-fit: cover;
}
.sanatorium-sec .sanatorium-block ul li,
.sanatorium-sec .sanatorium-block p {
	font-size: 14px;
	line-height: 150%;
	letter-spacing: 0.02em;
	font-feature-settings: 'pnum' on, 'lnum' on;
	color: #3C4548;
	font-stretch: 100;
	margin-bottom: 13px;
}
.sanatorium-sec .sanatorium-block ul {
	padding-left: 40px;
}
.sanatorium-sec .sanatorium-block ul li {
	margin-bottom: 13px;
	list-style: none;
	position: relative;
}
.sanatorium-sec .sanatorium-block ul li::before {
	content: "";
	display: inline-block;
	position: absolute;
	left: -30px;
	top: 4px;
	width: 20px;
	height: 20px;
	background-image: url('../images/task-icon.svg');
	background-repeat: no-repeat;
}
.sanatorium-sec .sanatorium-block ul li:last-child {
	margin-bottom: 0;
}
/* ////////// */

.news-sec {
	padding-top: 60px;
}
.news-sec .title h2 {
	margin-bottom: 40px;
}

.news-slide-content {
	position: relative;
}
.news-slide .owl-nav {
	display: flex;
	align-items: center;
	position: absolute;
	left: 190px;
    top: -83px;
	z-index: 2;
}
.news-slide .owl-nav button {
	background: transparent;
	padding: 0;
	border: none;
}
.news-slide .owl-nav .owl-next {
	margin-left: 20px;
}

.news-sec .news-block span,
.news-sec .news-block {
	display: block;
}
.news-sec .news-block .news-img {
	overflow: hidden;
	border-radius: 6px;
}
.news-sec .news-block .news-img img {
	width: 100%;
}
.news-sec .news-block:hover .news-img img {
	transform: scale(1.05);
}
.news-sec .news-block .news-text h4 {
	margin-top: 12px;
	margin-bottom: 5px;
}
.news-sec .news-block .news-text span {
	font-size: 14px;
	line-height: 150%;
	letter-spacing: 0.02em;
	font-feature-settings: 'pnum' on, 'lnum' on;
	color: #3C4548;
	font-stretch: 100;
}
/* ////// */
.slide-sec {
	padding-top: 60px;
}

.single-gallery {
	margin-bottom: 20px;
}
.single-gallery .item img {
	width: 100%;
	border-radius: 5px;
}

.mini-slide .item img {
	width: 100%;
	height: 120px;
	border-radius: 5px;
}
.slide-col {
	position: relative;
}
.mini-slide .owl-nav button {
	position: absolute;
	top: 40%;
	background: transparent;
	padding: 0;
	border: none;
}
.mini-slide .owl-nav .owl-prev {
	left: -47px;
}
.mini-slide .owl-nav .owl-next {
	right: -47px;
}
/* ///////////// */
.nomer-form {
	padding-top: 86px;
}

.nomer-form-left {
	padding: 40px 60px 46px;
	background: #2C6570;
	border-radius: 10px;
}
.nomer-form-left h3 {
	margin-bottom: 30px;
	text-align: center;
}
.nomer-form form .form-group {
	margin-bottom: 20px;
}
.nomer-form form .form-group > input {
	border: none;
	width: 100%;
	background: #FFFFFF;
	border-radius: 5px;
	font-size: 16px;
	line-height: 100%;
	font-feature-settings: 'pnum' on, 'lnum' on;
	color: #3C4548;
	padding: 18px 15px;

	background-image: url('../images/calendar-icon.svg');
	background-size: 15px;
	background-repeat: no-repeat;
	background-position: right 15px center;
}
.nomer-form form .bron-guest > input {
	background-image: url('../images/user-icon.svg');
}

.bron-guest {
	position: relative;
}
.bron-guest .open-guest {
	background: #fff;
	padding: 10px 10px 15px 10px;
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	margin-top: 2px;
	border-radius: 5px;
	width: 100%;
	z-index: 1000;
	box-shadow: 3px 15px 10px rgba(0,0,0,.1);
}
.bron-guest .open-guest.active {
	display: block;
}
.open-guest .open-guest-title {
	font-size: 18px;
	color: #4C4648;
	font-weight: bold;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #bababa;
}
.open-guest .open-guest-number-name {
	font-size: 14px;
	color: #727270;
	font-weight: bold;
	margin-bottom: 5px;
	text-transform: uppercase;
}
.bron-guest .open-guest .guest-num {
	display: flex;
	justify-content: space-between;
	padding-bottom: 15px;
	border-bottom: 1px solid #bababa;
	margin-bottom: 15px;
}
.bron-guest .open-guest .guest-num p{
	font-size: 12px;
	color: #727270;
	margin-bottom: 4px;
}
.bron-guest .open-guest .guest-num .guest-start .guest-count {
	border: 1px solid #bababa;
	border-radius: 4px;
	padding: 5px 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.bron-guest span {
	cursor:pointer; 
}
.bron-guest .minus, .bron-guest .plus{
	width:20px;
	height:20px;
	background:#f2f2f2;
	border-radius:4px;
	border:1px solid #ddd;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	font-size: 30px;
	line-height: 0.6;
}
.bron-guest .number-value{
	height: 25px;
	width: 40px;
	text-align: center;
	font-size: 16px;
	border: none;
	border-radius:4px;
	display: inline-block;
	vertical-align: middle;
}
.bron-guest .open-guest .add-guest {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #e8e8e8;
	width: 100%;
	border-radius: 4px;
	margin-bottom: 15px;
}
.bron-guest .open-guest .add-guest a{
	color: #000;
	font-size: 14px;
	font-weight: 600;
	padding: 10px 0;
	text-decoration: none;
}
.bron-guest .open-guest .guest-ok {
	text-align: right;
}
.bron-guest .open-guest .guest-ok a{
	font-size: 14px;
	font-weight: bold;
	color: #000;
	text-decoration: none;
}
.nomer-form form .form-btn button {
	font-size: 16px;
	line-height: 100%;
	font-feature-settings: 'pnum' on, 'lnum' on;
	width: 100%;
	padding: 17px 5px;
	border: none;
}
.nomer-form form .agree p {
	margin-top: 20px;
	font-size: 12px;
	line-height: 14px;
	font-feature-settings: 'pnum' on, 'lnum' on;
	color: #FFFFFF;
}
/* // */
.nomer-form .nomer-info {
	padding-left: 50px;
}
.nomer-form .nomer-info h3 {
	margin-bottom: 30px;
}
.nomer-form .nomer-info ul {
	padding-left: 30px;
}
.nomer-form .nomer-info ul li {
	margin-bottom: 30px;
	list-style: none;
	position: relative;
}
.nomer-form .nomer-info ul li::before {
	content: "";
	display: inline-block;
	position: absolute;
	left: -30px;
	top: 4px;
	width: 20px;
	height: 20px;
	background-image: url('../images/task-icon.svg');
	background-repeat: no-repeat;
}
.nomer-form .nomer-info ul li:last-child {
	margin-bottom: 0;
}
.nomer-form .nomer-info ul li h5 {
	font-weight: 700;
	font-size: 20px;
	line-height: 130%;
	font-feature-settings: 'pnum' on, 'lnum' on;
	color: #3C4548;
}
.nomer-form .nomer-info ul li span {
	display: block;
	font-size: 14px;
	line-height: 150%;
	letter-spacing: 0.02em;
	font-feature-settings: 'pnum' on, 'lnum' on;
	color: #3C4548;
	font-stretch: 100;
}
/* //////// */
.other-nomers {
	padding: 60px 0 90px;
}

.other-nomers .title h3 {
	margin-bottom: 40px;
}

.other-slide-content {
	position: relative;
}
.other-slide .owl-nav {
	display: flex;
	align-items: center;
	position: absolute;
	left: 275px;
	top: -75px;
	z-index: 2;
}
.other-slide .owl-nav button {
	background: transparent;
	padding: 0;
	border: none;
}
.other-slide .owl-nav .owl-next {
	margin-left: 20px;
}

.other-nomers .other-block span,
.other-nomers .other-block {
	display: block;
}
.other-nomers .other-block .other-img img {
	width: 100%;
}
.other-nomers .other-block .other-text .number-name {
	margin-top: 20px;
	margin-bottom: 5px;
}
.other-nomers .other-block .other-text .number-price {
	display: flex;
	align-items: center;
}
/* new page - lechenie */
.bron-number.index {
	padding-top: 0px;
	margin-top: -120px;
	position: relative;
	z-index: 2;
}
.bron-number {
	padding-top: 40px;
}
.bron-number .bron-block {
	background: #2C6570;
	border-radius: 10px;
	padding: 30px 65px;
}
.bron-number .bron-form {
	display: flex;
	align-items: center;
}

.bron-number form .form-group {
	margin-right: 20px;
	width: 100%;
}
.bron-number form .form-group > input {
	border: none;
	width: 100%;
	background: #FFFFFF;
	border-radius: 5px;
	font-size: 16px;
	line-height: 100%;
	font-feature-settings: 'pnum' on, 'lnum' on;
	color: #3C4548;
	padding: 15.5px 15px;

	background-image: url('../images/calendar-icon.svg');
	background-size: 15px;
	background-repeat: no-repeat;
	background-position: right 15px center;
}
.bron-number form .bron-guest > input {
	background-image: url('../images/user-icon.svg');
}
.bron-number form .form-btn {
	width: 100%;
}
.bron-number form .form-btn button {
	font-size: 16px;
	line-height: 100%;
	font-feature-settings: 'pnum' on, 'lnum' on;
	width: 100%;
	padding: 17px 60px;
	border: none;
	white-space: nowrap;
}
.bron-number form .agree p {
	margin-top: 20px;
	font-family: 'Corbel';
	font-size: 12px;
	line-height: 14px;
	font-feature-settings: 'pnum' on, 'lnum' on;
	color: #FFFFFF;
	max-width: 75%;
}
/* //////////// */
.treatment-sec {
	padding-top: 60px;
	position: relative;
}
.treatment-left {
  width: 410px;
  height: auto;
}
.treatment-left.fixed {
  position: fixed;
}

.treatment-left {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	padding-right: 50px;
}
.treatment-left a {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-family: 'Corbel';
	font-size: 16px;
	line-height: 100%;
	font-feature-settings: 'pnum' on, 'lnum' on;
	color: #FFFFFF;
	padding: 20px 16px;
	background: #1C8396;
	border-radius: 4px;
	margin-bottom: 10px;
	width: 100%;
}
.treatment-left a:hover {
	background: #2C6570;
}
.treatment-left a:last-child {
	margin-bottom: 0;
}

.treatment-gallery {
	margin-bottom: 20px;
}
.treatment-gallery .item img {
	width: 100%;
	border-radius: 5px;
}

.treatment-slide .item img {
	width: 100%;
	height: 120px;
	border-radius: 5px;
}
.treatment-col {
	position: relative;
}
.treatment-slide .owl-nav button {
	position: absolute;
	top: 40%;
	background: transparent;
	padding: 0;
	border: none;
}
.treatment-slide .owl-nav .owl-prev {
	left: -17px;
}

.treatment-slide .owl-nav .owl-next {
    right: -17px;
}
/* /// */
.treatment-block .title h2 {
	margin-bottom: 10px;
}
.treatment-block .title p {
	font-size: 14px;
	line-height: 150%;
	letter-spacing: 0.02em;
	font-feature-settings: 'pnum' on, 'lnum' on;
	color: #3C4548;
	font-stretch: 100;
}
.treatment-text {
	margin-top: 60px;
}
.treatment-text h3 {
	margin-bottom: 20px;
}
.treatment-text p {
	font-size: 14px;
	line-height: 150%;
	letter-spacing: 0.02em;
	font-feature-settings: 'pnum' on, 'lnum' on;
	color: #3C4548;
	font-stretch: 100;
}
.treatment-text ul {
	margin-bottom: 30px;
	padding-left: 50px;
}
.treatment-text ul li {
	font-size: 14px;
	line-height: 150%;
	letter-spacing: 0.02em;
	font-feature-settings: 'pnum' on, 'lnum' on;
	color: #3C4548;
	font-stretch: 100;
}
.treatment-btn {
	display: flex;
	align-items: center;
}
.treatment-btn a {
	margin-right: 20px;
	padding: 10px 15px;
	font-size: 16px;
}
.treatment-btn a:last-child {
	margin-right: 0;
}

.treatment-info {
	padding-top: 110px;
}
.treatment-info .treatment-link {
	margin-bottom: 50px;
	overflow: hidden;
}
.treatment-info .treatment-link img {
	width: 100%;
	border-radius: 6px;
}
.treatment-info .treatment-link:hover h4 {
	color: #F3B429;
}
.treatment-info .treatment-link h4 {
	margin-top: 18px;
}
.treatment-last-text p {
	font-size: 14px;
	line-height: 150%;
	letter-spacing: 0.02em;
	font-feature-settings: 'pnum' on, 'lnum' on;
	color: #3C4548;
	font-stretch: 100;
}
/* ///////////// */
.sertificate-sec {
	margin-top: 40px;
	padding: 55px 0 110px;
	background: #EBF1F2;
}
.sertificate-sec .title h3 {
	margin-bottom: 30px;
}
.sertificate-sec .sertificate-img img {
	width: 100%;
	box-shadow: 0px 73px 70px -52px rgba(0, 0, 0, 0.3);
}
/* new page - stat'ia */
.articles-head {
	padding: 40px 0;
}
.articles-head .articles-head-img img {
	width: 100%;
}
.bread-crumbs {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 24px;
}
.bread-crumbs a {
	font-family: 'Corbel';
	font-size: 16px;
	line-height: 100%;
	font-feature-settings: 'pnum' on, 'lnum' on;
	color: #A0A0A0;
}
.bread-crumbs a:hover {
	color: #3C4548;
}
.bread-crumbs p {
	font-family: 'Corbel';
	font-size: 16px;
	line-height: 100%;
	font-feature-settings: 'pnum' on, 'lnum' on;
	color: #3C4548;
}
.bread-crumbs span {
	margin: 0 9px;
}
/* // */
.articles-sec {
	position: relative;
}
.articles-sec .title {
	margin-bottom: 30px;
}
p.bold {
	font-weight: 700;
	font-size: 14px;
	line-height: 150%;
	letter-spacing: 0.02em;
	color: #3C4548;
	margin-bottom: 10px;
}
.articles-sec ul {
	margin-bottom: 26px;
}
.articles-sec ol li,
.articles-sec ul li {
	font-size: 14px;
	line-height: 150%;
	letter-spacing: 0.02em;
	font-feature-settings: 'pnum' on, 'lnum' on;
	color: #3C4548;
	font-stretch: 100;
}
p.title-text {
	font-size: 14px;
	line-height: 150%;
	letter-spacing: 0.02em;
	font-feature-settings: 'pnum' on, 'lnum' on;
	color: #3C4548;
	font-stretch: 100;
	margin-bottom: 12px;
}
p.title-text:last-child {
	margin-bottom: 30px;
}
.articles-sec .articles-img img {
	width: 100%;
}
.articles-sec .articles-img p {
	font-size: 14px;
	line-height: 150%;
	letter-spacing: 0.02em;
	font-feature-settings: 'pnum' on, 'lnum' on;
	color: #3C4548;
	font-stretch: 100;
	opacity: 0.5;
	margin-top: 10px;
}

.articles-block {
	margin-top: 55px;
}

.articles-block h3 {
	margin-bottom: 13px;
}
.articles-block h4 {
	margin-bottom: 13px;
}
.articles-block h5 {
	margin-bottom: 13px;
	font-weight: 700;
}
.articles-block p {
	font-size: 14px;
	line-height: 150%;
	letter-spacing: 0.02em;
	font-feature-settings: 'pnum' on, 'lnum' on;
	color: #3C4548;
	font-stretch: 100;
	margin-bottom: 13px;
}
.articles-block p:last-child {
	margin-bottom: 0;
}
/* //// */
.articles-form {
	padding: 40px 60px;
	background: #2C6570;
	border-radius: 10px;
}
.articles-form h3 {
	text-align: center;
	margin-bottom: 30px;
}
.articles-form .form-group {
	margin-bottom: 20px;
}
.articles-form .form-group input,
.articles-form .form-group textarea {
	background: #FFFFFF;
	border-radius: 5px;
	padding: 17px 15px;
	width: 100%;
	border: none;
	font-family: 'Corbel';
	font-size: 16px;
	line-height: 100%;
	font-feature-settings: 'pnum' on, 'lnum' on;
	color: #3C4548;
}
.articles-form .form-group textarea {
	height: 100px;
}
.articles-form .form-btn button {
	margin-top: -8px;
	display: block;
	width: 100%;
	padding: 17px 15px;
	text-align: center;
	border: none;
	margin-bottom: 20px;

	font-family: 'Corbel';
	font-size: 16px;
	line-height: 100%;
}
.articles-form .aggree p {
	font-family: 'Corbel';
	font-size: 12px;
	line-height: 14px;
	font-feature-settings: 'pnum' on, 'lnum' on;
	color: #FFFFFF;
}

.articles-form {
  width: 410px;
  height: auto;
}
.articles-form.fixed {
  position: fixed;
}
/* //////////// */
.map-sec {
	padding: 100px 0;
}
.map-sec .map-block {
	padding-top: 0;
}
.map-block {
	padding-top: 60px;
}
.pr-0 {padding-right: 0;}
.pl-0 {padding-left: 0;}
.map-sec .map-contact {
	background: #2C6570;
}
.map-sec .map-address {
	margin: 30px 0;
}
.map-contact {
	background: #1C8396;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.map-contact .contact-text {
	width: 300px;
	margin: auto;
}
.map-contact .contact-text h2 {
	margin-bottom: 0;
}
.map-contact .contact-text p {
	font-size: 14px;
	line-height: 150%;
	letter-spacing: 0.02em;
	color: #FFFFFF;
}
.map-sec .map {
	height: 477px;
}
.map {
	height: 270px;
}
.map iframe {
	height: 100%;
	width: 100%;
}
/* ///////// */
.also-interesting {
	padding-top: 70px;
}
.also-interesting .title h2 {
	margin-bottom: 20px;
}

.interesting-slide-content {
	position: relative;
}
.interesting-slide .owl-nav {
	display: flex;
	align-items: center;
	position: absolute;
	left: 400px;
    top: -64px;
	z-index: 2;
}
.interesting-slide .owl-nav button {
	background: transparent;
	padding: 0;
	border: none;
}
.interesting-slide .owl-nav .owl-next {
	margin-left: 20px;
}

.also-interesting .interesting-block span,
.also-interesting .interesting-block {
	display: block;
}
.also-interesting .interesting-block .interesting-img img {
	width: 100%;
}
.also-interesting .interesting-block .interesting-text h4 {
	margin-top: 12px;
	margin-bottom: 5px;
}
.also-interesting .interesting-block .interesting-text span {
	font-size: 14px;
	line-height: 150%;
	letter-spacing: 0.02em;
	font-feature-settings: 'pnum' on, 'lnum' on;
	color: #3C4548;
	font-stretch: 100;
}
/* /////////// */
.comment-sec {
	padding: 90px 0 60px;
}
.comment-sec .comment-top {
	display: flex;
	align-items: center;
	margin-bottom: 30px;
}
.comment-sec .comment-top h2 {
	margin-bottom: 0;
	margin-left: 20px;
}
.comment-sec .comment-top .comment-rating {
	display: flex;
	align-items: center;
	justify-content: center;
}
.comment-sec .comment-top .comment-rating span {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 110px;
	height: 110px;
	border-radius: 50%;
	background-color: #99C21D;
	color: #fff;
	font-size: 40px;
}
.comment-slide-content {
	position: relative;
}
.comment-slide .owl-nav {
	display: flex;
	align-items: center;
	position: absolute;
	left: 580px;
    top: -97px;
	z-index: 2;
}
.comment-slide .owl-nav button {
	background: transparent;
	padding: 0;
	border: none;
}
.comment-slide .owl-nav .owl-next {
	margin-left: 20px;
}
/* /////////////// */
footer {
	padding: 40px 0;
	background: #0B3841;
}
footer .ftr-left a {
	margin-bottom: 24px;
}
footer .ftr-left p {
	font-size: 14px;
	line-height: 150%;
	letter-spacing: 0.02em;
	color: #FFFFFF;
}

footer .ftr-menu {
	display: flex;
	align-items: center;
	flex-direction: column;
}
footer .menu-items {
	margin-bottom: 23px;
}
footer .menu-items a {
	font-size: 14px;
	line-height: 150%;
	letter-spacing: 0.02em;
	font-feature-settings: 'pnum' on, 'lnum' on;
	color: #FFFFFF;
	font-stretch: 100;
	margin-right: 20px;
}
footer .menu-items a:last-child {
	margin-right: 0;
}
footer .ftr-menu span {
	display: inline-block;
}
footer .ftr-menu .ftr-contact {
	display: flex;
	flex-direction: column;
	align-items: center;
}
footer .ftr-tel {
	display: flex;
	align-items: center;
	font-family: 'Corbel';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 120%;
	font-feature-settings: 'pnum' on, 'lnum' on;
	color: #FFFFFF;
	margin-bottom: 30px;
}
footer .ftr-tel img {
	margin-right: 6px;
}
footer .ftr-price {
	padding: 10px 20px;
	font-size: 16px;
	line-height: 100%;
}

footer .ftr-right {
	text-align: right;
}
footer .ftr-right .ftr-address {
	margin-bottom: 15px;
}
footer .ftr-right .ftr-address a,
footer .ftr-right .ftr-address p {
	font-size: 14px;
	line-height: 130%;
	letter-spacing: 0.02em;
	color: #FFFFFF;
}
footer .ftr-right .ftr-social p {
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 150%;
	letter-spacing: 0.02em;
	font-feature-settings: 'pnum' on, 'lnum' on;
	color: #FFFFFF;
	font-stretch: 100;
}
footer .ftr-right .ftr-social .social-item {
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
}
footer .ftr-right .ftr-social .social-item a {
	margin-right: 10px;
}
footer .ftr-right .ftr-social .social-item a:last-child {
	margin-right: 0;
}
footer .ftr-right .ftr-social .social-item a:hover {
	transform: scale(1.1);
}
/* ////////////// */
.datepicker table tr td, .datepicker table tr th {
	font-size: 14px;
}

header .navbar .nav-contact .nav-tel.mob,
header .navbar .nav-contact .nav-socials.mob,
.mob {display: none;}





@media only screen and (max-width: 1200px) {
	.healing-block .healing-img img {
		height: auto;
	}
	.bron-number form .form-btn button {
		padding: 17px 15px;
	}
}


@media only screen and (max-width: 768px){
	.pc {display: none;}
	.mob {display: block;}
	/* mob menu */
	.mob-menu-top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 43px;
	}
	.mob-menu-right {
		display: flex;
		align-items: center;
	}
	.mob-menu-right > a {
		margin-right: 15px;
	}
	.mob-menu-right > a.menu-closer {
		margin-right: 0;
	}
	.mob-burger {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}
	.mob-burger span {
		display: inline-block;
		height: 3px;
		margin-bottom: 5px;
		background: #0B3841;
		border-radius: 1px;
	}
	.mob-burger span.one {
		width: 30px;
	}
	.mob-burger span.two {
		width: 24px;
	}
	.mob-burger span.three {
		width: 20px;
		margin-bottom: 0;
	}
	.header {
		position: relative;
		z-index: 100;
	}
	header .navbar-collapse {
		position: fixed;
		left: -1000px;
		top: 0;
		width: 100%;
		height: 100vh;
		z-index: 10;
		padding: 22px 20px;
		background: #2C6570;
		transition: .5s linear;
	}
	header .navbar-collapse.active {
		left: 0;
	}
	header .navbar .nav-item {
		margin-right: 0;
	}
	header .navbar .navbar-nav {
		align-items: center;
	}
	header .navbar .nav-item {
		margin-bottom: 10px;
	}
	header .navbar .nav-item .nav-link {
		color: #fff;
	}
	header .navbar .nav-contact {
		flex-direction: column;
	}
	header .navbar .nav-contact .nav-tel.mob {
		display: flex;
		order: 1;
		color: #fff;
		margin: 30px 0 10px;
	}
	header .navbar .nav-contact .nav-tel.pc {
		display: none;
	}
	header .navbar .nav-contact .nav-price {
		order: 2;
		color: #fff;
		border-color: #fff;
		margin-bottom: 30px;
	}
	header .navbar .nav-item .nav-link:hover {
		color: #fff;
	}
	header .navbar .nav-contact .nav-socials.mob {
		order: 3;
		display: flex;
	}
	header .navbar .nav-contact .nav-socials.mob a img {
		height: 36px;
	}
	header .navbar .nav-contact .nav-socials a:last-child {
		margin-right: 0;
	}
	header .navbar .nav-contact .nav-socials.pc {
		display: none;
	}
	.menu-address {
		margin-top: 40px;
	}
	.menu-address p {
		font-size: 14px;
		line-height: 130%;
		text-align: center;
		letter-spacing: 0.02em;
		color: #FFFFFF;
	}
	/* mob menu */
	h2 {
		font-size: 26px;
		line-height: 29px;
	}
	h3 {
		font-size: 26px;
	}
	h4 {
		font-size: 18px;
		line-height: 110%;
	}
	h5 {
		font-size: 16px;
	}
	header {
		padding-top: 20px;
	}
	header .index-text {
		text-align: center;
		margin-top: 36px;
	}
	header .index-text .big-text {
		font-size: 72px;
		line-height: 87px;
	}
	header .index-text h3 {
		font-size: 24px;
		margin-bottom: 28px;
	}
	header.index {
		padding-bottom: 50px;
	}
	.bron-number.index {
		margin-top: 0;
	}
	header .navbar-brand {
		width: 176px;
		height: 35px;
		margin-right: 0;
	}
	header.index::before {
		left: -25px;
		top: -85px;
	}
	.bron-number .bron-col {
		padding-left: 0;
		padding-right: 0;
	}
	.bron-number .bron-block {
		padding: 30px 20px 35px;
		border-radius: 0;
	}
	.bron-number .bron-block .title {
		text-align: center;
	}
	.bron-number .bron-form {
		flex-direction: column;

	}
	.bron-number form .form-group {
		margin-right: 0;
		margin-bottom: 20px;
	}
	.bron-number form .agree p {
		max-width: 100%;
	}
	.sale-sec {
		padding-top: 50px;
	}
	.owl-nav button img {
		width: 13px;
	}
	.sale-sec .sale-slide-content .owl-nav {
		top: -55px;
		left: auto;
		right: 0;
		justify-content: flex-end;
		z-index: 1;
	}
	.sale-sec .sale-left {
		display: none;
	}
	.sale-sec .sale-right {
		padding: 0;
	}
	.sale-sec .sale-slide-content span {
		font-size: 14px;
		line-height: 150%;
	}
	.sale-sec .sale-right .right-item {
		margin-bottom: 30px;
	}
	.number-fond {
		padding-top: 30px;
	}
	.fond-block {
		margin-top: 0;
		padding: 20px 0;
	}
	.number-fond .fond-img img {
		height: auto;
	}
	.fond-slide .owl-nav {
		top: 20px;
		left: auto;
		right: 0;
		justify-content: flex-end;
	}
	.fond-btn a {
		padding: 20px 10px;
		width: 100%;
		text-align: center;
	}
	.healing-sec {
		padding-top: 60px;
	}
	.healing-sec .title {
		margin-bottom: 30px;
	}
	.healing-block h4 {
		margin-top: 10px;
	}
	.rest-sec {
		padding-top: 20px;
	}
	.rest-sec .rest-block .rest-text {
		left: 20px;
		bottom: 20px;
	}
	.rest-sec .rest-block .rest-text h5 {
		margin: 4px 0;
	}
	.rest-sec .rest-two .rest-block,
	.rest-sec .rest-one {
		margin-bottom: 20px;
	}
	.rest-sec .rest-four,
	.rest-sec .rest-five,
	.rest-sec .rest-six {
		margin-top: 20px;
	}
	.sanatorium-sec {
		padding-top: 60px;
	}
	.sanatorium-sec .sanatorium-content {
		padding: 30px 0 20px;
		margin-top: 0;
	}
	.sanatorium-sec .sanatorium-img img {
		height: auto;
	}
	.sanatorium-sec .sanatorium-content .title h2 {
		margin-bottom: 30px;
	}
	.sanatorium-sec .sanatorium-block ul li {
		margin-bottom: 10px;
	}
	.sanatorium-sec .sanatorium-block p {
		margin-bottom: 20px;
	}
	.sanatorium-sec .sanatorium-block ul {
		padding-left: 30px;
		margin-bottom: 30px;
	}
	.news-sec {
		padding-top: 0;
	}
	.news-slide .owl-nav {
		justify-content: flex-end;
		top: -50px;
		left: auto;
		right: 0;
	}
	.news-sec .title h2 {
		margin-bottom: 20px;
	}
	.news-sec .news-block .news-text span {
		line-height: 21px;
	}
	.map-sec {
		padding: 60px 0 0;
	}
	.map-block .pr-0 {
		padding-left: 0;
	}
	.map-sec .map-contact {
		padding: 30px 30px 15px;
	}
	.map-sec .map-address {
		margin: 18px 0;
	}
	.map-sec .map,
	.map {
		height: 235px;
	}
	.map-block .pl-0 {
		padding-right: 0;
	}
	footer {
		padding: 50px 0 60px;
		text-align: center;
	}
	footer .ftr-left a {
		margin-bottom: 36px;
	}
	footer .ftr-left p {
		line-height: 110%;
	}
	footer .ftr-tel {
		order: 2;
		font-weight: 700;
		font-size: 20px;
		line-height: 140%;
	}
	footer .ftr-price {
		order: 1;
		margin: 22px 0;
	}
	footer .ftr-tel img {
		display: none;
	}
	footer .ftr-right {
		text-align: center;
	}
	footer .ftr-social {
		display: none;
	}
	footer .menu-items.mob {
		display: flex;
		flex-direction: column;
		margin-bottom: 7px;
	}
	footer .menu-items a {
		margin-right: 0;
		margin-bottom: 6px;
	}
	footer .social-mob {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	footer .social-mob a {
		margin-right: 20px;
	}
	footer .social-mob a:last-child {
		margin-right: 0;
	}
	/* ////// */
	.articles-form {
		width: 100%;
	}
	.treatment-left {
		width: 100%;
		padding: 0;
	}
	.articles-form.fixed,
	.treatment-left.fixed {
		position: relative;
		top: 0 !important;
	}
	.treatment-gallery {
		display: none;
	}
	.treatment-sec {
		padding-top: 0;
	}
	.treatment-block .title h2 {
		color: #1C8396;
		margin-top: 40px;
	}
	.treatment-block .title p {
		margin-bottom: 30px;
	}
	.treatment-col .owl-nav {
		display: none;
	}
	.treatment-col .owl-dots {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		align-items: center;
		padding-top: 20px;
	}
	.treatment-col .owl-dots button {
		display: inline-block;
		width: 16px;
		height: 16px;
		border: 1px solid #1C8396;
		border-radius: 50%;
		padding: 0;
		background: transparent;
		margin-right: 10px;
		transform: scale(.6);
	}
	.treatment-col .owl-dots button:last-child {
		margin-right: 0;
	}
	.treatment-col .owl-dots button.active {
		background: #1C8396;
		transform: scale(1);
	}
	.treatment-slide .item img {
		height: 320px;
		border-radius: 0;
	}
	.treatment-col {
		padding-left: 0;
		padding-right: 0;
	}
	.treatment-text h3 {
		font-size: 26px;
		margin-bottom: 10px;
	}
	.treatment-text {
		margin-top: 40px;
	}
	.treatment-btn {
		flex-direction: column;
		align-items: flex-end;
	}
	.treatment-btn a {
		margin-right: 0;
		width: 100%;
		text-align: center;
		margin-bottom: 10px;
		border-color: #1C8396;
		color: #1C8396;
	}
	.treatment-info {
		padding-top: 50px;
	}
	.treatment-info .treatment-link h4 {
		margin-top: 10px;
		font-weight: 700;
	}
	.treatment-info .treatment-link {
		margin-bottom: 40px;
	}
	.treatment-sec {
		padding-top: 25px;
	}
	.sertificate-sec .title h3 {
		font-size: 30px;
		margin-bottom: 20px;
	}
	.sertificate-sec {
		margin-top: 0;
		padding: 40px 0 80px;
	}
	.sertificate-sec .sertificate-img {
		margin-bottom: 55px;
	}
	.sertificate-sec .sertificate-img.last {
		margin-bottom: 0;
	}
	.articles-head-img {
		padding-left: 0;
		padding-right: 0;
	}
	/* ///////// */
	.articles-head {
		padding: 25px 0 20px; 
	}
	.articles-sec .title {
		margin-bottom: 45px;
	}
	.articles-sec .title .black {
		font-size: 36px;
		line-height: 110%;
		font-weight: 700;	
	}
	p.title-text,
	p.bold {
		margin-bottom: 4px;
	}
	.articles-sec ul {
		margin-bottom: 15px;
	}
	.articles-img-col {
		padding-left: 0;
		padding-right: 0;
	}
	.articles-sec .articles-img img {
		height: 172px;
	}
	.articles-sec .articles-img p {
		padding-left: 15px;
	}
	.articles-block h3 {
		font-size: 26px;
		line-height: 110%;
	}
	.map-block {
		padding-top: 50px;
	}
	.map-contact {
		padding: 30px 30px 15px;
	}
	.map-contact .contact-text h2 {
		margin-bottom: 18px;
	}
	.map-contact .contact-text p:nth-child(2) {
		margin: 15px 0;
	}
	.form-col.mob {
		padding-left: 0;
		padding-right: 0;
	}
	.articles-form {
		border-radius: 0;
		padding: 40px 20px;
	}
	.articles-form h3 {
		margin-bottom: 20px;
		font-size: 26px;
		line-height: 110%;
	}
	.also-interesting {
		padding-top: 55px;
	}
	.interesting-slide .owl-nav {
		top: -50px;
		left: auto;
		right: 0;
		justify-content: flex-end;
	}
	.comment-sec .comment-top h2 {
		margin-left: 0;
		margin-bottom: 20px;
		order: 1;
	}
	.comment-sec .comment-top {
		flex-direction: column;
		align-items: flex-start;
		margin-bottom: 20px;
	}
	.comment-sec .comment-top .comment-rating {
		order: 2;
	}
	.comment-sec .comment-top .comment-rating span {
		width: 62px;
		height: 62px;
		font-size: 22px;
	}
	.comment-slide-img {
		margin-left: -15px;
		margin-right: -15px;
	}
	.comment-slide .owl-nav {
		top: -66px;
		left: auto;
		right: 0;
		justify-content: flex-end;
	}
	.comment-sec {
		padding: 60px 0;
	}
	header.nomer .mob-burger span {
		background: #fff;
	}
	header .header-text h1 {
		font-size: 36px;
		line-height: 110%;
		margin-bottom: 4px;
	}
	header .header-text h2 {
		margin-bottom: 39px;
	}
	.single-gallery {
		display: none;
	}
	header .header-text {
		padding-top: 70px;
	}
	header.nomer {
		padding-bottom: 90px;
	}
	.mini-slide .item img {
		height: 320px;
		border-radius: 0;
	}
	.mini-slide .owl-dots {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		align-items: center;
		padding-top: 20px;
	}
	.mini-slide .owl-dots button {
		display: inline-block;
		width: 16px;
		height: 16px;
		border: 1px solid #1C8396;
		border-radius: 50%;
		padding: 0;
		background: transparent;
		margin-right: 10px;
		transform: scale(.6);
	}
	.mini-slide .owl-dots button:last-child {
		margin-right: 0;
	}
	.mini-slide .owl-dots button.active {
		background: #1C8396;
		transform: scale(1);
	}
	.slide-col {
		padding-left: 0;
		padding-right: 0;
	}
	.slide-sec {
		padding-top: 0;
	}
	.nomer-left-col {
		order: 2;
		margin-top: 20px;
		padding-left: 0;
		padding-right: 0;
	}
	.nomer-right-col {
		order: 1;
	}.nomer-form .nomer-info {
		padding-left: 0;
	}
	.nomer-form .nomer-info h3 {
		font-size: 26px;
		line-height: 110%;
		margin-bottom: 16px;
	}
	.nomer-form .nomer-info ul li h5 {
		font-size: 16px;
		line-height: 130%;
	}
	.nomer-form .nomer-info ul li::before {
		width: 15px;
		height: 15px;
		background-size: contain;
	}
	.nomer-form-left {
		padding: 30px 20px;
		border-radius: 0;
	}
	.nomer-form-left h3 {
		margin-bottom: 2px;
	}
	.nomer-form form .agree p {
		text-align: center;
	}
	.other-slide .owl-nav {
		top: -50px;
		left: auto;
		right: 15px;
		justify-content: flex-end;
	}
	.other-nomers {
		padding: 60px 0;
	}
	.other-nomers .title h3 {
		margin-bottom: 20px;
	}
}


